@mixin vertical-center($position: relative) {
  transform: translateY(-50%);
  position: $position;
  top: 50%;
}

@mixin vertical-reset($position: relative) {
  transform: translateY(0);
  top: 0;
  position: $position;
}

@mixin horizontal-center($position: relative) {
  transform: translateX(-50%);
  left: 50%;
  position: $position;
}

@mixin horizontal-reset($position: relative) {
  transform: translateX(0);
  left: 0;
  position: $position;
}

@mixin absolute-center($position: relative) {
  transform: translate(-50%, -50%);
  left: 50%;
  position: $position;
  top: 50%;
}

@mixin absolute-reset($position: relative) {
  transform: translate(0, 0);
  left: 0;
  position: $position;
  top: 0;
}
