$heading-font: 'Yanone Kaffeesatz', sans-serif;
$content-font: 'Raleway', sans-serif;

$_black: #050505;
$_white: #fff;
$_grey: #f5f5f5;
$_purple: #460079;
$_plum: #53085f;
$_pink: #e5007e;

$heading-color: $_purple;
$content-color: $_black;
$button-color: $_white;
$link-color: $_pink;

$link-gradient: linear-gradient(
  120deg,
  $_purple 30%,
  $_pink 100%
);
