* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }

  &::-ms-input-placeholder {
    opacity: 1;
  }

  &::placeholder {
    transition: color .3s ease;
  }

  &:focus::placeholder {
    color: transparent;
  }
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
  font-family: $heading-font;
  font-weight: 300;
}

h1,
h2 {
  margin-bottom: 10px;
}

h1 {
  @include font-size(8);
}

h2 {
  @include font-size(5.4);
  margin-bottom: 20px;
}

h3,
h4 {
  color: $_plum;
  text-transform: uppercase;
}

h3 {
  @include font-size(4.4);
  line-height: 34px;
  padding-bottom: 36px;
  text-align: center;
}

h4 {
  @include font-size(2.2);
  font-weight: 400;
}

p,
a {
  @include font-size(1.8);
  line-height: 1.4;
}

p,
ul {
  color: $content-color;
  font-family: $content-font;
  margin-bottom: 20px;
}

a {
  font-weight: 300;
  text-decoration: none;
}

li {
  line-height: 2;
  padding-left: 6px;
  position: relative;

  &::before {
    background-color: $_plum;
    border-radius: 50%;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    top: 8px;
    width: 2px;
  }
}
