.portfolio-grid {
  background: $_grey;
  padding-top: 36px;
}

.top-block {
  height: calc(100vw - 80px);
  position: relative;
  width: 100%;

  .block {
    position: absolute;
  }
}

.block {
  height: calc(((100vw - 80px) / 3) - 1px);
  position: relative;

  &-image {
    background: grey;
    height: 100%;
    width: 100%;
  }

  &-details {
    background: $_white;
    left: 0;
    position: absolute;
    top: 0;
    width: 200px;
  }

  &-title {
    padding: 15px;
  }

  &-hover {
    max-height: 0;
    opacity: 0;
    padding: 0 15px;
    transition: max-height .6s ease, opacity .6s ease;
  }

  &:hover {
    .block-hover {
      opacity: 1;
      max-height: 600px;
    }
  }
}

.tl,
.m,
.br,
.bbl,
.bbm,
.bbr {
  width: calc(100% / 3);
}

.tr,
.bl {
  width: calc((100% / 3) * 2);
}

.tl,
.br {
  height: calc((((100vw - 80px) / 3) * 2) - 1px);
}

.tl {
  left: 0;
  padding: 0 10px 10px 0;
  top: 0;
}

.tr {
  padding: 0 0 10px 10px;
  right: 0;
  top: 0;
}

.m {
  @include absolute-center(absolute);
  height: calc(((100vw - 80px) / 3) - 2px);
  padding: 10px;
}

.bl {
  bottom: 0;
  left: 0;
  padding: 10px 10px 0 0;

  .block-details {
    margin: 20px 0 0 10px;
  }
}

.br {
  bottom: 0;
  padding: 10px 0 0 10px;
  right: 0;
}

.bbl {
  padding-right: 10px;
}

.bbm {
  padding: 0 10px;
}

.bbr {
  padding-left: 10px;
  right: 0;
}

.bottom-block {
  margin-bottom: 40px;
  margin-top: 20px;
}

.tl,
.bbl {
  .block-details {
    margin: 10px 0 0 10px;
  }
}

.bl {
  .block-details {
    margin: 20px 0 0 10px;
  }
}

.m,
.br {
  .block-details {
    margin: 20px 0 0 20px;
  }
}

.tr,
.bbr,
.bbm {
  .block-details {
    margin: 10px 0 0 20px;
  }
}
