.logo {
  display: block;
  height: 220px;
  margin-bottom: 20px;
  position: relative;
  width: 150px;

  &::after {
    background-image: url('../images/logo.png');
    content: '';
    height: 200%;
    left: 0;
    position: absolute;
    transform: scale(.5) ;
    transform-origin: 0 0;
    width: 200%;
  }
}
